---
import { plainify } from "@lib/textConverter";
import Footer from "@components/base/Footer.astro";
import Header from "@components/base/Header.astro";
import "@/styles/main.scss";
import { ClientRouter } from "astro:transitions";
import { Tooltips } from "astro-tooltips";

export interface Props {
  title?: string;
  description?: string | null;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

const { title, description, image, noindex, canonical } = Astro.props;

const siteTitle = "Régis Rolnin - Méthode AIA™";
const siteDescription = "Propulsez la croissance de votre PME avec la Méthode AIA™.";
const siteImage = "/favicon/og-image.png"; // TODO: mettre ton image OG
const siteAuthor = "Régis Rolnin";
const baseUrl = "https://regisrolnin.com";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
  <meta charset="utf-8" />
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <title>{plainify(title ? title : siteTitle)}</title>
    {canonical && <link rel="canonical" href={canonical} item-prop="url" />}
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    <meta name="description" content={plainify(description ? description : siteDescription)} />
    <meta name="author" content={siteAuthor} />
    <meta property="og:title" content={plainify(title ? title : siteTitle)} />
    <meta property="og:description" content={plainify(description ? description : siteDescription)} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${baseUrl}/${Astro.url.pathname.replace("/", "")}`} />
    <meta property="og:image" content={`${baseUrl}${image ? image : siteImage}`} />
    <meta name="twitter:title" content={plainify(title ? title : siteTitle)} />
    <meta name="twitter:description" content={plainify(description ? description : siteDescription)} />
    <meta name="twitter:image" content={`${baseUrl}${image ? image : siteImage}`} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Transitions -->
    <ClientRouter fallback="swap" />
    <Tooltips interactive={false} delay={[333, 0]} />
  </head>
  <body>
    <Header />
    <main id="main-content" class="flex-1">
      <slot/>
    </main>
    <Footer />
  </body>
</html>
