---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import type { HomeEntry } from "@/types";
import { Image } from "astro:assets";

interface Props {
  entry: HomeEntry;
}

const { entry } = Astro.props;
const { image, imageAlt, title, content, buttons } = entry.data;
---

<BaseLayout>
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-6">
          {
            image && (
              <div class="blur-[0px] mb-6">
                <Image
                  class="w-64 mx-auto"
                  src={image}
                  alt={imageAlt}
                  width={1024}
                  height={1024}
                  loading="eager"
                />
              </div>
            )
          }

          <h1 set:html={markdownify(title)} class="mb-4" />
          <p set:html={markdownify(content)} class="mb-8" />

          <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-x-6 sm:space-y-0">
            {
              buttons && buttons.map((btn, index) => (
                <Button
                  label={btn.label}
                  link={btn.link}
                  newtab={btn.link.startsWith("http")}
                  variant={index === 0 ? "primary" : "secondary"} /* le premier bouton en primary, les autres en secondary */
                  size="medium" /* large sur la home */
                />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>