---
interface Props {
  label: string;
  link: string;
  newtab?: boolean;
  variant?: "primary" | "secondary";
  size?: "large" | "medium";
  color?: "blue" | "green" | "orange" | "yellow" | "purple"; // tu peux en rajouter
}

const {
  label,
  link,
  newtab = false,
  variant = "primary",
  size = "medium",
  color = "blue", // ici tu changes selon la page
} = Astro.props;

const baseClass = `btn-${color}-${variant} btn-${size}`;
---

<a
  href={link}
  target={newtab ? "_blank" : "_self"}
  rel={newtab ? "noopener noreferrer" : undefined}
  class={baseClass}
>
  {label}
</a>
